<% # Using method: :get inside Turbo frame triggers some special Turbo handling where the script_name is lost %>
<%= collapsible_nav_section "Boards" do %>
  <li class="popup__item" data-filter-target="item" data-navigable-list-target="item">
    <%= icon_tag "add", class: "popup__icon" %>
    <%= link_to new_board_path, class: "popup__btn btn" do %>
      <span class="overflow-ellipsis">Add a board</span>
    <% end %>
  </li>

  <% if boards.any? %>
    <%= render partial: "my/menus/boards/board", collection: boards, as: :board %>
  <% end %>
<% end %>
